*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.content h2{
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content hr{
    margin: 14px 0;
}

.content input[type=number]{
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

.content input[type=number]:read-only{
    border: 1px solid ;
    background-color: #666;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.content button{
    margin: 0 4px;
    padding: 6px 0;
    width: 62px;
    border: 1px solid;
    background-color: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.content button:hover{
    background-color: #ccc;
}

.content button:focus{
    outline: 2px solid;
}

