* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma;
}

body{
    background-color: rgb(18, 18, 126);

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 40px;
    font-weight: 500;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    color: white;
}

.home-content h3{
    font-size: 36px;
    font-weight: 700;
    color :#00abf0;
}

.home-content p{
    font-size: 16px;
    color: white;
}
