/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
nav,
main,
footer {
    padding: 20px;
}

header {
    background-color: #000000;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    color: #666;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input,
form select,
form button {
    margin-top: 5px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}


.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 18px;
    margin: 0;
}

.card p {
    font-size: 14px;
    margin: 0;
}

/* Styling untuk container card */
.Scard {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling untuk label */
.Scard label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Styling untuk input */
.Scard input,
.Scard textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
}

/* Styling untuk tombol submit */
.Scard input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.Scard input[type="submit"]:hover {
    background-color: #45a049;
}

.output {
    display: flex;
    float: right;
}