*::-webkit-backdrop {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*, *::backdrop, *::after {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(8, 14, 45, 0.949);
  color: white;
}

#particles {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -9999;
  pointer-events: none;
}

header {
  top: 0;
  height: 3.5em;
  background-color: rgb(1, 0, 18);
  position: absolute;
  width: 100%;
}
header .container {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
header .container ul {
  list-style-type: none;
}
header .container .header-logo {
  flex: 50%;
  font-weight: bold;
  font-size: 36px;
}
header .container .header-logo img{
  margin: 0px 0px 0px 10px;
  height: 43px;
}
header .container a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
header .container a h1 {
  font-family: amsterdam;
  font-size: 1.2em;
}
header .container a img {
  filter: brightness(100);
  height: 52px;
  margin-left: 0.2em;
}
header .container nav {
  flex: 50%;
  display: flex;
  justify-content: center;
}
header .container nav li {
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
header .container nav li a {
  color: rgb(149, 162, 185);
  transition: color 1s ease;
  font-family: hack;
  padding-top: 1.2em;
}
header .container nav li a:hover {
  color: white;
}
header .container a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.main .container {
  margin-top: 15em;
  margin-left: 5em;
  margin-right: 5em;
  line-height: 2.5em;
}
.main .prof-img {
  height: 200px;
  width: 200px;
  border: 1em solid;
  border-color: rgba(232, 230, 230, 0.245);
  border-radius: 10%;
  pointer-events: none;
}
.main h1 {
  font-family: yumincho;
  font-size: 35px;
}
.main p {
  font-family: code;
  letter-spacing: 0.3em;
}
.main .main-links {
  font-size: 25px;
}
.main ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.main a {
  color: rgb(149, 162, 185);
  transition: color 1s ease;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.main a:hover {
  color: white;
}
.main a img {
  transition: filter 1s ease;
  filter: brightness(0.8);
}
.main a img:hover {
  filter: brightness(1.2);
}

.about {
  height: 100%;
}
.about .container {
  border-radius: 10%;
  border: 10px solid;
  border-color: rgb(8, 10, 40);
  text-align: center;
  width: auto;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10vh;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: rgb(6, 2, 22);
}
.about .container h2, .about .container h3, .about .container p {
  padding: 0.5em;
}
.about .container h2 {
  font-family: code;
  font-size: 30px;
  letter-spacing: 0.2em;
}
.about .container h3 {
  font-family: hack;
}
.about .container p {
  font-family: code;
  letter-spacing: 0.2em;
}
.about .container a {
  color: rgb(149, 162, 185);
  transition: color 1s ease;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}
.about .container a:hover {
  color: white;
}

footer {
  background-color: rgba(240, 248, 255, 0.13);
  text-align: center;
}

.loader {
  font-family: code;
  letter-spacing: 0.3em;
}
.loader:after {
  content: "_";
}



